/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

@import "tailwindcss";

@theme inline {
  --color-darkpurple: var(--primary);
  --color-lightpurple: var(--secondary);
  --color-darkgraypurple: var(--tertiary);
  --color-lightgraypurple: var(--quaternary);
  --color-mainpurple: var(--quinary);

  --font-main: var(--main-font);
  --font-secondary: var(--secondary-font);
}

:root {
  --primary: #340034;
  --secondary: #a100a1;
  --tertiary: #540054;
  --quaternary: #850085;
  --quinary: #6d006d;

  /* font */
  --secondary-font: "Teachers";
  --main-font: "Gabarito";
}

.red {
  background-color: green;
}
